{% extends "layout.html" %}
{% block content %}

<h1> A Cloud Testing Stack </h1>

<div style="max-width: 750px; padding-bottom: 4em">

<h2>
What is the Cloud?
</h2>

The "cloud" refers to remote systems available over the network.

Advantages of cloud services include: on demand, scaling (vertically and horizontally), virtualization, standardization of platform and infrastructure, outsourcing of data center, hardware, and network management.  

Because of network abstraction and virtualization, when you work in the cloud, architectural changes may be called for (think "service oriented") and you may have options not available previously (think "horizontal scalability").  

There are also security concerns with the cloud.  

Cloud services are available at multiple levels:  Infrastructure, Platform, and Software "as as Service".

<h2>
Infrastructure as a Service (IaaS)
</h2>

Infrastructure includes computing resources, storage, network, and base operating

Cloud Infrastructure providers.

<ul>
	<li> Amazon Web Services </li>
	<li> Rackspace Cloud </li>
	<li> HP Cloud </li>
	<li> Microsoft Azure </li>
	<li> Linode </li>
</ul>

Open source implementations
<ul>
	<li> Open Stack </li>
	<li> Eucalyptus </li>
</ul>

Public or private cloud.  Or a combination of public and private infrastructure. VPN to internal network.  

<h2>
Platform as a Service.
</h2>

<ul>
	<li> Java, JEE </li>
	<li> Ruby on Rails </li>
	<li> Python </li>
	<li> PHP, LAMP </li>
	<li> Node.js </li>
	<li> .NET </li>
</ul>

<h2>
Software as a Service
</h2>

<p>
Graphic showing:
Infrastructure (datacenter, hardware, network, os)
Platform (JEE, Rails, LAMP, .NET)
Software (Jenkins, Selenium, Fitnesse)
</p>

<br><br>
<img src="#" width="700px" height="250px">
<br><br>

<ul>
	<li> Infrastructure </li>
	<li> Tools </li>
	<li> Automation </li>
</ul>

<p>
Graphic showing:
Infrastructure, Tools, Automation
</p>

<p>
 Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
</p>


<h2> Cloud Provider </h2>
<p>
	<a href="http://aws.amazon.com/" onclick="window.open('http://aws.amazon.com'); return false;">Amazon Web Services</a>
 -
	<a href="http://www.rackspace.com/information/aboutus/" onclick="window.open('http://www.rackspace.com/information/aboutus/'); return false;">Rackspace Open Cloud</a>
	<br>
</p>
<h2> Platform </h2>
<div class="menu">
		<a href="" onclick="window.open(''); return false;">Java</a>
		<a href="" onclick="window.open(''); return false;">Ruby</a>
		<a href="" onclick="window.open(''); return false;">.NET</a>
		<a href="" onclick="window.open(''); return false;">Python</a>
		<a href="" onclick="window.open(''); return false;">PHP</a>
		<a href="" onclick="window.open(''); return false;">node</a>
</p>
<h2> Apps </h2>
<p>
	Continuous Integration: <a href="https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins" onclick="window.open('https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins'); return false;">Jenkins</a> -
	<br>
	Test Hub: <a href="http://docs.seleniumhq.org" onclick="window.open('http://docs.seleniumhq.org');return false;"> Selenium Browser Automation</a> -
	<a href="http://fitnesse.org/" onclick="window.open('http://fitnesse.org');return false;"> FitNesse Wiki Web Server</a> -
	<br>
	Defect Tracking: <a href="http://www.bugzilla.org/about/" onclick="window.open('http://www.bugzilla.org/about/'); return false;"> Bugzilla Defect Tracking</a> -
</p>
<h2> Services </h2>


<div style="float:right; padding-bottom: 20px;">
	<a href="/register"><input type="button" value="Get Started"/></a>
</div>
{% endblock %}
