{% extends 'layout.html' %}
{% block content %}
<h1> Order </h1>


<h1> What am I getting? </h1>

<div class="menu">
		<li>
			<!--<input type="checkbox" name="" value="">Jenkins<br>
			<input type="checkbox" name="" value="">Selenium<br>
			<input type="checkbox" name="" value="">FitNesse<br>
			<input type="checkbox" name="" value="">Bugzilla<br>-->
			{% include 'order_form.html' %}
		</li>
</div>
<div style="text-align: center">
        <a href="#" data-reveal-id="purchase-form-modal" data-animation="fade" class="button">Buy Now</a>
	</div>
	<div id="purchase-form-modal" class="reveal-modal">
		{% include 'purchase_form.html' %}
		<a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}
