<form style="max-width: 412px">

	<input name="name" placeholder="Name" style="width: 400px" /> 
	<br>

	<input name="email" placeholder="Email Address" style="width: 400px" />
	<br>

	<input name="phone" placeholder="Phone Number" style="width: 400px" />
	<br>

	<input name="company" placeholder="Company" style="width: 400px" />
	<br>

	<div style="float: left">
		<a href="details"><input type="button" value="Tell Me More"/></a>
	</div>

	<div style="float: right">
		<a href="payment"><input type="button" value="Place Order"/></a>
	</div>

	<div style="clear: both"/>

</form>
