* {
	margin: 0;
}

html, body {
	height: 100%;
}

body { 
	font-family: "Verdana", sans-serif; 
}

input, button, textarea, select {
	font-size: 1.5em ;
	padding: 4px;
	margin: 0.25em;
	background: #eee;
	color: black;
	border: 2px solid #333;
	border-radius: 5px;
}

input[type=file], input[type=button], input[type=submit], input[type=reset] {
	background: #333;
	color: white;
}

textarea {
	font-family: sans-serif; 
	font-size: 1.5em ;
	padding: 4px;
	margin: 0.25em;background: #eee;
	color: black;
	width: 400px;
	height: 200px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal; 
	padding-bottom: 10px;
}

h1 {
	font-size: 2.5em;
	font-family: Georgia, serif;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.0em;
	font-weight: bold;
}

div {
}

p {
	padding-bottom: 1em;
	font-size: 1.0em;
	line-height: 1.45em;
}

table, tr, td {
	border: 0; margin: 0; padding: 0;
}

table {
	border-collapse: collapse;
}

td {
	vertical-align: top;
}

ul {
	margin: 0; padding: 0;
	list-style-type: none;
}

li {
	padding-top: 0.25em;
}
	
.wrapper {
	max-width: 900px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	padding: 25px;
}

.footer, .push {
	height: 4em;
}

.alternate {
	padding: 10px;
}
.alternate:nth-child(odd) {
}

.menu ul {
	list-style-type: none; margin:0; padding: 0
}

.menu li {
	display: inline;
	list-style-type: none; 
	padding-right: 25px;
}

.menu a {
	text-decoration: none;
	font-weight: bold;
	color: gray;
}


.form_error {
	font-size: 0.75em;
	color: red;
	position: relative;
	padding-left: 1em;
}

.registration-form {
	width: 412px;
	max-width: 412px;
}
.registration-form input[type=text] {
	width: 400px; 
	max-width: 400px;
}


.contact-form {
	width: 412px;
	max-width: 412px;
}
.contact-form input[type=text] {
	width: 400px; 
	max-width: 400px;
}

.button {
	font-size: 1.5em ;
	padding: 4px;
	margin: 0.25em;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	border-color: #333;
	background: #333;
	color: white;
	text-decoration: none;
}

.button:hover {
	border-color: #ea0;
}