<h2> Contact Form </h2>

<form id="contact-form" class="contact-form" name="contact-form" method="post" action="#contact">
	
	{{ contact_form.hidden_tag() }}

	{% for error in contact_form.errors.name %}
		<span class="form_error">{{error}}</span>
	{% endfor %}
	{{ contact_form.name(placeholder="Your Name") }}

	{% for error in contact_form.errors.email %}
		<span class="form_error">{{error}}</span>
	{% endfor %}
	{{ contact_form.email(placeholder="Email Address") }}

	{% for error in contact_form.errors.phone %}
		<span class="form_error">{{error}}</span>
	{% endfor %}
	{{ contact_form.phone(placeholder="Phone Number") }}

	{{ contact_form.message(placeholder="What can we do for you?")}}

	<div style="float: right">
	{{ contact_form.send(value="Send") }}
	</div>
</form>
