<form id="purchase-form" name="purchase-form" action="payment" style="width: 425px" method="post">
	{{purchase_form.hidden_tag()}}
		{{purchase_form.name(size=25, placeholder="Name")}}
		{% for error in purchase_form.errors.name %}
		<span style="color:red; position: relative;">[{{error}}]</span>
		{% endfor %}

		{{purchase_form.address1(size=25, placeholder="Address Line 1")}}
		{% for error in purchase_form.errors.address1 %}
		<span style="color:red; position: relative;">[{{error}}]</span>
		{% endfor %}

		{{purchase_form.address2(size=25, placeholder="Address Line 2")}}


		{{purchase_form.city(size=25, placeholder="City")}}
		{% for error in purchase_form.errors.city %}
		<span style="color:red; position: relative;">[{{error}}]</span>
		{% endfor %}


		{{purchase_form.zipcode(size=25, placeholder="Zip Code")}}
		{% for error in purchase_form.errors.zipcode %}
		<span style="color:red; position: relative;">[{{error}}]</span>
		{% endfor %}

		<div style="float: right;">
			<input type="hidden" name="cmd" value="_xclick">  
			 <input type="hidden" name="business" value="aarone@one-shore.com">  
			 <input type="hidden" name="item_name" value="Cloud Test Environment">    
			 <input type="hidden" name="amount" value="99.00">  
			 <input type="hidden" name="first_name" value=>  
			 <input type="hidden" name="last_name" value="">  
			 <input type="hidden" name="address1" value="">  
			 <input type="hidden" name="address2" value="">  
			 <input type="hidden" name="city" value="">  
			 <input type="hidden" name="state" value="">  
			 <input type="hidden" name="zip" value="">    
			 <input type="hidden" name="email" value="">  
			 <div style="position: relative; left: -45px;">
			 	{{ purchase_form.submit(value="Paypal") }} 
			 </div>
		</div>
</form>