div.headers {
    position: relative;
    top: -10px;
    height: 40px;
    text-align: center;
    float: center;
}

h1 {
    font-family: Verdana, Arial, sans-serif;
    color: #FFFFFF;
}

.maintitle {
    font-family: Verdana;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 10px;
}
     

.label {
   float: left;
   top: 10px;
   position: relative;
   color: #FFFFFF;
   font-size: 16;
   font-family: Verdana;
   padding-right: 10px;
}

button {
    vertical-align: center;
    width: 100px;
    font-family: Verdana;
    font-size: 16;
}

.row {
    text-align: center;
}

body {
    background-image: url("/static/img/comet.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.linklist {
    text-align: center;
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 2px groove #FFFFFF;
}
.links {
    padding-right: 2.5em;
    padding-left: 2.5em;
}

.input { 
    height: 40px;
}

.inputfield {
    width:300px;
    position: relative;
    text-align: left;
    size: 16;
    font-family: Verdana;
    font-size: 16;
    padding: 10px;
}

.footer {
    border-top: 2px groove #FFFFFF;
    clear: both;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
}



