* {
        margin: 0;
}

html, body {
        height: 100%;
}

body { 
        font-family: sans-serif; 
}

input, button, textarea, select {
        font-size: 1.5em ;
        padding: 4px;
        margin: 0.25em;
        background: #eee;
        color: black;
        border: 2px solid #333;
        border-radius: 5px;
}

input[type=file], input[type=button] {
        background: #333;
        color: white;
}


textarea {
        font-family: sans-serif; 
        font-size: 1.5em ;
        padding: 4px;
        margin: 0.25em;background: #eee;
        color: black;
        width: 600px;
        height: 400px;
}

h1, h2, h3, h4, h5, h6 {font-weight: normal; margin: 0; padding: 0;}

h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
}

h2 {
        font-size: 2.0em;
        margin-bottom: 5px;
}

h3 {
        font-size: 1.5em;
        margin-bottom: 5px;
}

h4 {
        font-size: 1.0em;
        font-weight: bold;
}

p {
        margin: 0; padding: 0;
        padding-bottom: 1em;
        font-size: 1.0em;
        line-height: 1.45em;
}

table, tr, td {
        border: 0; margin: 0; padding: 0;

}

table {
        border-collapse: collapse;
}

td {
        vertical-align: top;
}

ul {
        margin: 0; padding: 0;
        list-style-type: none;
}

li {
        padding-top: 0.25em;
}

.wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -4em;
        position: relative;
}

.footer, .push {
        height: 4em;
}

.vdash {
        border-right: 2px dashed gray;
        border-left: 0;
}

.hdash {
        border-top: 2px dashed gray;
        border-bottom: 0;
}

.alternate {

        padding: 10px;
}
.alternate:nth-child(odd) {

}

.menu ul {
        list-style-type: none; margin:0; padding: 0
}

.menu li {
        display: inline;
        list-style-type: none; 
        padding-right: 25px;
}

.menu a {
        text-decoration: none;
        font-weight: bold;
        color: gray;
}