{% extends "layout.html" %}
{% block content %}
<form style="width: 412px">
	{{Payment.hidden_tag()}}
		<input placeholder="" style="width: 298px" /> 
		<input placeholder="cvv" style="width: 85px" />
		<br>
		<div style="float:right">
			<span style="font-size:1.5em"> Expiration</span>
			
			{{Payment.expmonth(placeholder="Month")}}

			{{Payment.expyear(placeholder="Year")}}
		</div>

		
		<input placeholder="Card Holder Name" style="width: 400px" /> 
		<br>

		<input placeholder="Billing Address" style="width: 400px" /> 
		<br>
		<input placeholder="City" style="width: 400px" /> 
		<br>
		<input placeholder="State" style="width: 400px" /> 
		<br>
		<input placeholder="Zip Code" style="width: 400px" /> 

			<div style="float: right;">
			<a href="/payment_confirmation"><input type="button" value="Finish"/></a>
		</div>
</form>
{% endblock %}