{% extends "layout.html" %}
{% block content %}
<h1> Details </h1>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation. 
</p>
<h2> Cloud Provider </h2>
<p>
	<a href="http://aws.amazon.com/" onclick="window.open('http://aws.amazon.com'); return false;">Amazon Web Services</a>
 -
	<a href="http://www.rackspace.com/information/aboutus/" onclick="window.open('http://www.rackspace.com/information/aboutus/'); return false;">Rackspace Open Cloud</a>
	<br>
</p>
<h2> Platform </h2>
<p>
	<a href="" onclick="window.open(''); return false;"> Java</a> - 
	<a href="" onclick="window.open(''); return false;"> Ruby</a> -
	<a href="" onclick="window.open(''); return false;"> .NET</a> -
	<a href="" onclick="window.open(''); return false;"> Python</a> -
	<a href="" onclick="window.open(''); return false;"> PHP</a> -
	<a href="" onclick="window.open(''); return false;"> node</a> -
</p>
<h2> Apps </h2>
<p>
	Continuous Integration: <a href="https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins" onclick="window.open('https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins'); return false;">Jenkins</a> -
	<br>
	Test Hub: <a href="http://docs.seleniumhq.org" onclick="window.open('http://docs.seleniumhq.org');return false;"> Selenium Browser Automation</a> -
	<a href="http://fitnesse.org/" onclick="window.open('http://fitnesse.org');return false;"> FitNesse Wiki Web Server</a> -
	<br>
	Defect Tracking: <a href="http://www.bugzilla.org/about/" onclick="window.open('http://www.bugzilla.org/about/'); return false;"> Bugzilla Defect Tracking</a> -
</p>
<h2> Services </h2>
<br><br>
<img src="#" width="700px" height="250px">
<br><br>

<p>
 Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
</p>

<div style="float:right; padding-bottom: 20px;">
	<a href="/register"><input type="button" value="Get Started"/></a>
</div>
{% endblock %}
