<!-- begin footer -->

	</div><!-- end content -->

	<div class="push"></div>


</td>
<td style="padding-left: 10px;">
	<?php include("comments.html"); ?>
</td>
</tr>
</table>


</div> <!-- end wrapper -->

<div class="footer" style="border-top: 1px solid gray; background: #ddd">

	<ul class="menu" style="margin: 1em">
		<li>
			<a href="/index">Home</a>
		</li>
		<li>
			<a href="/about">About</a>
		</li>
		<li>
			<a href="/blog">Blog</a>
		</li>
		<li>
			<a href="/contact">Contact</a>
		</li>
		<li>
			<a href="/chat">Chat</a>
		</li>
			<li>
			<a href="/login">Login</a>
		</li>
			</li>
			<li>
			<a href="/landing">Offer</a>
		</li>
	</ul>

</div> <!-- end footer -->


</body>
</html>