<html>
<head>
	<title> Cloud Test Environments </title>
	<link href="/static/prototype.css" rel="stylesheet" type="text/css" media="screen" />
	<style>
		<?php include("/static/prototype.css"); ?>
	</style>	
	<style>
		* { margin: 0; padding: 0;}
		table { border-collapse: collapse; }
		table, td { vertical-align: top; }
	</style>
</head>
<body>


		<div class="wrapper">


<table>
<tr>
<td style="width: 900px; border-right: 3px dashed gray;">



			<div class="content" style="max-width: 900px; padding: 25px; line-height: 1.5">

<!-- end header -->