<html>
    <head>
        <title> Cloud Test Environments </title>
        <link href="static/css/prototype.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="static/css/reveal.css" rel="stylesheet" type="text/css">
        <script type ="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
        <script type ="text/javascript" src="static/js/jquery.reveal.js"></script>
        
                <script>
                $('#registration').reveal({
                     animation: 'fadeAndPop',                   //fade, fadeAndPop, none
                     animationspeed: 300,                       //how fast animtions are
                     closeonbackgroundclick: true,              //if you click background will modal close?
                     dismissmodalclass: 'close-reveal-modal'    //the class of a button or element that will close an open modal
                });

                $('#contact').reveal({
                     animation: 'fadeAndPop',                   //fade, fadeAndPop, none
                     animationspeed: 300,                       //how fast animtions are
                     closeonbackgroundclick: true,              //if you click background will modal close?
                     dismissmodalclass: 'close-reveal-modal'    //the class of a button or element that will close an open modal
                });


                function showModal() {
                    if(window.document.forms['registration'].hasErrors && $('.modal-form').closest('div#registration'))
                    {
                        $('#registration').reveal();
                    }
                    if(window.document.forms['contact'].hasErrors && $('.modal-form').closest('div#contact'))
                    {
                        $('#contact').reveal();
                    }
                }
                </script>
    </head>
    <body onload="showModal();">
        <div class="wrapper">
            <table>
                <tr>
                    <td style="width: 900px; border-right: 3px dashed gray;">
                        <div class="content" style="max-width: 900px; padding: 25px; line-height: 1.5">
                            <!-- end header -->
                            {% block content %}
                            {% endblock %}
                            <!-- begin footer -->
                        </div><!-- end content -->
                        <div class="push"></div>
                    </td>
                    <td style="padding-left: 10px;">
                        {% include "comments.html"%}
                    </td>
                </tr>
            </table>
        </div> <!-- end wrapper -->
        <br>
        <br>
        <div class="footer" style="border-top: 1px solid gray; background: #ddd">
            <ul class="menu" style="margin: 1em">
                <li>
                    <a href="index">Home</a>
                </li>
                <li>
                    <a href="about">About</a>
                </li>
                <li>
                    <a href="blog">Blog</a>
                </li>
                <li>
                    <a href="contact">Contact</a>
                </li>
                <li>
                    <a href="chat">Chat</a>         
                </li>
                <li>
                    <a href="login">Login</a>
                </li>
                </li>
                <li>           
                    <a href="landing">Offer</a>
                </li>                                                                                                   
            </ul>
        </div> <!-- end footer --> 
    </body>
</html>
