<div id="registration" class="reveal-modal">
	<h1 style="padding: 4px;"> Registration </h1>
	<form class="modal-form" style="width: 300px" name="registration" method="post">
		{{form.hidden_tag()}}
			{{form.name(placeholder="Name*")}}
			{% for error in form.errors.name %}
			<span class="register_submit" style="color:red; position: relative;">[{{error}}]</span>
			{% endfor %}

		
			{{form.email(placeholder="Email*")}}
			{% for error in form.errors.email %}
			<span class="register_submit" style="color:red; position: relative;">[{{error}}]</span>
			{% endfor %}
		
			{{form.phone(placeholder="Phone")}}
		
			{{form.company(placeholder="Company Name")}}
			{% if form.errors %}
			{{form.hasErrors(value="true", type="hidden")}}
			{% endif %}
		<p>
			<br>
				<a class="close-reveal-modal">&#215;</a>
					<input class="register_submit" type="submit" name="submit" value="Sign Up">
					<br>
				<input type="submit" value="Learn More" name="submit" style="position: relative; float: right;" border="0">
		</p>
	</form>
</div>

